<!DOCTYPE html>
<html lang="en"
      data-ng-app="DocumentationApp">
<head>
    <!-- Ensure proper encoding. -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Define the page title -->
    <title>Documentation Hub</title>

    <!-- Include Links for CSS and WebFonts -->
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <!-- Include JavaScript -->
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/webjars/org.webjars/angularjs/1.4.3/angular.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/webjars/org.webjars/angularjs/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/webjars/org.webjars/angularjs/1.4.3/angular-sanitize.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/webjars/org.webjars/angularjs/1.4.3/angular-resource.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/webjars/org.webjars/angular-strap/2.2.3/angular-strap.min.js"></script>
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/webjars/org.webjars/angular-strap/2.2.3/angular-strap.tpl.min.js"></script>

    <!-- Include all Modules and the AngularJS application. -->
    <script type="text/javascript" src="app/documentationApp.js"></script>
    <script type="text/javascript" src="app/modules/github/module.js"></script>

</head>
<body data-ng-class="theme.name">
<nav class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/repo">Repository</a>
    </div>

    <div class="collapse navbar-collapse" id="nav-toggle">
        <ul class="nav navbar-nav">
            <li data-match-route="/repo"><a href="#/repo">Overview</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
            <div class="btn-group">
                <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Theme: {{theme.name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li data-ng-repeat="current in themes">
                        <a data-ng-click="setTheme(current.name)">Theme: {{current.name}}</a></li>
                </ul>
            </div>
        </form>
    </div>
</nav>
<div class="container">
    <div data-ng-view></div>
</div>
<footer class="footer">
    <div class="container">
        <div data-ng-include="theme.footer()"></div>
    </div>
</footer>
</body>
</html>