 ------
 Introduction
 ------

${project.name}

  This plugin uses JAXB2 to generate Java classes from XML Schemas (and binding files)
  and to create XML Schemas for existing Java classes.

* Goals Overview

  General Information about the plugin goals:

  * {{{./schemagen-mojo.html}jaxb2:schemagen}} Creates XML Schema Definition (XSD) file(s) from annotated Java sources.
  
  * {{{./testSchemagen-mojo.html}jaxb2:testSchemagen}} Creates XML Schema Definition (XSD) file(s) from annotated Java test sources.

  * {{{./xjc-mojo.html}jaxb2:xjc}} Generates Java sources from XML Schema(s).

  * {{{./testXjc-mojo.html}jaxb2:testXjc}} Generates Java test sources from XML Schema(s).


* Usage

  General instructions on how to use the ${project.name} can be found on the {{{./usage.html}XJC usage page}}
  and the {{{./usage_schemagen.html}Schemagen usage page}} respectively.

  In case you still have questions regarding the plugin's usage, please feel
  free to contact the {{{./mail-lists.html}user mailing list}}. The posts to the mailing list are archived and could
  already contain the answer to your question as part of an older thread. Hence, it is also worth browsing/searching
  the {{{./mail-lists.html}mail archive}}.

  If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in our
  {{{./issue-tracking.html}issue tracker}}. When creating a new issue, please provide a comprehensive description of your
  concern. Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason,
  entire debug logs, POMs or most preferably little demo projects attached to the issue are very much appreciated.
  Of course, patches are most welcome too. Contributors can check out the project from our
  {{{./source-repository.html}source repository}} and will find supplementary information in the
  {{{http://maven.apache.org/guides/development/guide-helping.html}guide to helping with Maven}}.
