Usage - XJC (XML to Java Compilation)

  This plugin implements and runs the XJC compiler driver natively, and integrates XJC into
  Maven. Please be aware that this plugin requires at least the Java 5.0 compiler.
  
+------------------------------------------+
<project>
    ...
    <dependencies>
        ...
        <dependency>
            <groupId>javax.xml.bind</groupId>
            <artifactId>jaxb-api</artifactId>
            <version>2.0</version>
        </dependency>
        <dependency>
            <groupId>com.sun.xml.bind</groupId>
            <artifactId>jaxb-impl</artifactId>
            <version>2.0.3</version>
        </dependency>
        ...
    </dependencies>
    ...
    <build>
        <pluginManagement>
            <plugins>
                <!-- Need Java 5, which is the default since v2.3 of the maven-compiler-plugin. -->
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-compiler-plugin</artifactId>
                    <version>2.5.1<version>
                </plugin>
            <plugins>
        </pluginManagement>
        <plugins>
            <plugin>
                <groupId>org.codehaus.mojo</groupId>
                <artifactId>jaxb2-maven-plugin</artifactId>
                <version>${project.version}</version>
                <executions>
                    <execution>
                        <id>xjc</id>
                        <goals>
                            <goal>xjc</goal>
                        </goals>
                    </execution>
                </executions>
                <configuration>
                    <packageName>com.example.myschema</packageName> <!-- The name of your generated source package -->
                </configuration>
            </plugin>
            ...
        </plugins>
    <build>
    ...
</project>
+------------------------------------------+
